.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  background: #FFF;


  .form-container {
    position: relative;

    height: 550px;
    width: 400px;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;

    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    padding: 30px;
    text-align: center;

    .input-form {
      box-sizing: border-box;
      width: 100%;
      background: #EEE;
      margin: 12px 2px;
      padding: 15px;
      font-size: 13px;
      border: none;
    }

    .text-hint {
      padding: 18px 0;
      font-size: 14px;
      color: #4e4e4e;
    }

    .signup-button {
      width: 180px;
      padding: 12px 15px;

      border-radius: 20px;
      border: 1px solid #FF4B2B;
      background-color: #FF4B2B;
      color: #FFFFFF;
      font-size: 12px;
      font-weight: bold;
      padding: 12px 45px;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: transform 80ms ease-in;
    }
  }
}
