@import '~tailwindcss/base.css';
@import '~tailwindcss/utilities.css';

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Regular.ttf") format("ttf")
}

html, body {
  height: 100%;
  font-size: 16px;
}

* {
  font-family: "Source Sans Pro";
 }

 h1,h2,h3,h4,h5,h6,div,span,a {
  font-family: "Source Sans Pro";

 }

.font-md {
  font-size: 1rem !important;
}
